<h1>  <%= @project.name %></h1>
<div id="project_show" style="margin: 58px auto;">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="<%= @project.ad_url%>"></iframe>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title">
              <%= @project.name %>
            </h5>
            <div class="card-text">
              <p><b>已募得金額</b></p>

              <h5>贊助目標: NT$ <%= @project.goal%></h5>
              <br/>
              <p style="color: red;" class="seconds_countdown" data-seconds="<%= @project.seconds_left %>">  
              </p>

              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: <%= "#{@percentage}%" %>;" aria-valuenow="<%= @percentage %>" aria-valuemin="0" aria-valuemax="100">
                  <% unless @percentage == 0.0 %>
                    <%= "#{@percentage}%" %> 
                  <% end %>
                </div>
              </div>
              <br />
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
</div>