<!DOCTYPE html>
<html>
  <head>
    <title>JOJOmoney</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all'%>
 


  </head>

  <body>
  <div class="container">
    <%= link_to '登入', user_session_path%>
    <%= link_to '登出', destroy_user_session_path, method: :delete %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

  </div>
  </body>
</html>
